<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <div class="card mt-2">
                <div class="card-title text-center">Nueva Categoria</div>
                <div class="card-body">
                <!--Incio Formulario-->
                <form [formGroup]= "form" (ngSubmit)="postCategorias($event)">
                  <label>Nombre</label>
                  <input  class="form-control" type="text" formControlName="strNombre"><br>
                    <label>Descripcion</label>
                  <textarea class="form-control rounded-0" rows="10" formControlName="strDescripcion"></textarea>
                  <button type="submit" class="btn" [disabled]="form.invalid">Guardar</button>
                </form>
                <!--Fin formulario-->
                </div>
            </div>
        </div>
        <div class="col-md-8">
        <!--Inicio Tabla categorias-->
          <table class="table" >
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Acciones</th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let categoria of Categorias" >
                <th>{{categoria.strNombre}}</th>
                <td style="word-break:break-all  ;">{{categoria.strDescripcion}}</td>
                <td>
                  <div class="btn-group">
                  <button class="btn btn-primary">Editar</button>
                  <button class="btn btn-danger" (click)="deleteCategoria(categoria._id)" value=categoria._id>Eliminar</button>
                </div>
                </td>
              </tr>
            </tbody>
            

          </table>
        <!--Fin tabla Categorias-->
</div>
    </div>

</div>

<button (click)="getCategorias()" class="btn btn-primary">Mostrar Categorias</button>